@media (max-width: 930px) {
	header {
		padding-top: 50px;
		// padding-top: 100px;
	}
	form{
		// @include flex (row wrap, space-around, flex-start);
		input,
		select,
		select#dogSize {
			width: calc(50% - 10px);
			// margin: 10px 5px;
		}
	}
	
}

@media (max-width: 715px) {
	footer div.footerWrapper {
		text-align: center;
		@include flex (column wrap, center, center);
		// height: auto;

		.social svg {
			margin-top: 20px;
			width: 35px;
			float: none;
		}
	}

	div.flexContainer {
		margin-top: 120px;
	}

}

@media (max-width: 570px) {
	header {
		h1 {
			@include fontSize(26);
		}
		h2 {
			@include fontSize(12);
		}
	}
	form {
		margin-top: 27px;
	}
}
@media (max-width: 550px) {
	
	div.flexContainer {
		@include flex (column wrap, space-between, center);

		aside.results {
			width: 100%;
			margin-bottom: 20px;
			// overflow: visible;
			ul {
				list-style: none;
			}
		}
		div.mapContainer {
			width: 100%;
		}
	}
}

@media (max-width: 505px) {
	header {
		padding-top: 30px;
		height: 100vh;
		svg {
			width: 35%;
		}
		// .overlay {
		// 	height: 100%;
		// }
		video {
			width: 30%;
		}
	}
	aside {
		margin-top: 50px;
	}
	form{
		// @include flex (row wrap, space-around, flex-start);
		input,
		select
		 {
			width: 100%;
			padding: 10px;
		}
		input[type=text] {
			padding: 10px;
		}
		input[type=submit] {
			width: 100%;
			padding: 10px;
		}
		select#dogSize {
			width: 60%;
		}
		label {
			width: 40%;
			text-align: left;
		}


	}
	footer {
		position: relative;
	}
}

@media (max-width: 480px) {
	.flexContainer .dogListItem .summaryContainer .summaryImageContainer {
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}
	.flexContainer .dogListItem .summaryContainer .summaryTextContainer {
		width: 100%;
		h3,
		h4 {
			margin: 5px 0;
		}
	}
}